.dashboard .jumbotron {
    height: 850px;
    overflow-y: scroll;
}

#chat_box .card {
    min-width: 60%;
    max-width: 70%;
    margin-bottom: 10px;
}

.my_chat {
    float: right;
}

.toast {
    margin-top: 25px;
    margin-bottom: 25px;
    position: absolute;
    z-index: 10;
    width: 300px;
}

.toast_body {
    padding-left: 20px;
}

.navbar {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}

.alert-warning {
    text-align: center;
    background-color: #fff3cd;
    border-color: #ffeeba3b;
}